<!-- El footer es la sección que va al final de la página -->

<footer class="page-footer orange accent-4 ">
    <div class="container">
      <div class="row">
          <!--Boton para volver a la página anterior-->
        <a onclick="volver()" class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">arrow_back</i></a>
        <div class="col l4 offset-l2 s12">
          <h5 class="white-text">Acerca de linio</h5>
          <ul>
            <li><a class="grey-text text-lighten-3" href="{{ url_for('historia') }}">Historia</a></li>
            <li><a class="grey-text text-lighten-3" href="{{ url_for('ayuda') }}">Ayuda</a></li>
            <li><a class="grey-text text-lighten-3" href="{{ url_for('termycond') }}">Términos y condiciones</a></li>
            <li><a class="grey-text text-lighten-3" href="{{ url_for('legales') }}">Legales</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      © 2020 Copyright Linio
      </div>
    </div>
    <script type="text/javascript">
        function volver(){
            history.back();
        }
    </script>
    
  </footer>