<!-- El header va en la parte superior de nuestra página. Incluiremos el logo de linio -->
<header>
    <!--Menu logueo usuario-->
    <nav>
        <div class="nav-wrapper grey">
            <a href="{{ url_for('home') }}" class="brand-logo"><img class="responsive-img" src="https://linio-express.s3-sa-east-1.amazonaws.com/logos/Linio_logo.svg"></a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
            {% if session['type'] == 1%}
                <!--Menu logueo Usuario-->
                <li style="color: black;">¡Hola {{ session['user_name'] or '' }}!</li>
                <li><a href="{{ url_for('listar_pedido') }}">Ver mi historial de compra</a></li>
                <li><a href="{{ url_for('view_cart') }}">Ver mi carrito</a></li>
                <li><a href="{{ url_for('logout') }}">Cerrar sesión</a></li>
            {% elif session['type'] == 2 %}  
                <!--Menu logueo Comercio-->
                <li style="color: black;">RUC : {{session['user_name']}}</li>
                <li><a href="{{ url_for('registrarProducto') }}">Añadir un producto</a></li>
                <li><a href="{{ url_for('logout') }}">Cerrar sesión</a></li>
            {% else %}
            <!-- Ponemos un enlace para que el usuario ingrese a su cuenta y otro para el registro -->
                <li><a href="{{ url_for('login') }}">Login Usuario</a></li>
                <li><a href="{{ url_for('registration') }}">Registrarme</a></li>
                <li><a href="{{ url_for('loginComercio') }}">Login Comercio</a></li>
                <li><a href="{{ url_for('registrationC') }}">Registrar mi Comercio</a></li>
            {% endif %}
            </ul>
        </div>
    </nav>
</header>