{% extends "/layouts/application.html" %}
{% block content %}
<!-- Header con logo de Linio -->
{% include '/layouts/header.html' %}

<!-- Título de la página -->
<h1>Inicia sesión con tu Comercio en Linio Express</h1>

{% if error %}
  <h3 style="color:Tomato;">{{error}}</h3>
{% endif %}

<!--Formulario de registro -->
<div class="row">
  <form role="form" id="LoginForm" method="post" class="col s6">
    <!-- Input de correo electrónico -->
    <div class="row">
      <div class="input-field col s12">
        <input id="ruc" type="text" name="ruc" class="validate" minlength="11" maxlength="11" required>
        <label for="ruc">RUC</label>
      </div>
    </div>
    <!-- Input de contraseña -->
    <div class="row">
      <div class="input-field col s12">
        <input id="password" type="password" name="password" class="validate" required>
        <label for="password">Contraseña</label>
      </div>
    </div>
    <!-- Botón para enviar datos del formualario -->
    <button class="btn waves-effect waves-light orange" type="submit">Iniciar Sesión
      <i class="material-icons right">chevron_right</i>
    </button>
  </form>
</div>

<!-- Footer -->
{% include '/layouts/footer.html' %}

{% endblock %}
