{% extends "/layouts/application.html" %}
{% block content %}

<!-- Header con logo de Linio -->
{% include '/layouts/header.html' %}


  <h2>Legales</h2>
  <div>
      <p>
        Este acuerdo será gobernado e interpretado de acuerdo con las leyes de Perú, <br>
        sin dar efecto a cualquier principio de conflictos de ley. Si alguna disposición de estos Términos y Condiciones es declarada ilegal,<br>
        o presenta un vacío, o por cualquier razón resulta inaplicable, la misma deberá ser interpretada dentro del marco <br>
        del mismo y en cualquier caso no afectará la validez y la aplicabilidad de las provisiones restantes.
      </p>
  </div>
  


<!-- Footer -->
{% include '/layouts/footer.html' %}
{% endblock %}