{% extends "/layouts/application.html" %}
{% block content %}

<!-- Header con logo de Linio -->
{% include '/layouts/header.html' %}

<!-- Ponemos una ilustración y especificamos el ancho de la imagen con width -->
<img src="https://linio-express.s3-sa-east-1.amazonaws.com/ilustraciones/welcome_illustration.svg" width="500">

  <h3>Categorías</h3>
    <ul>
      {% for categoria in categoriaList %}
      <li>
          <a href="{{ url_for('product_category',id_categoria = categoria[0]) }}">{{categoria[1]}}</a>
      </li>
    {% endfor %}
    </ul>
    

<!-- Footer -->
{% include '/layouts/footer.html' %}
{% endblock %}