{% extends "/layouts/application.html" %}
{% block content %}
<!-- Header con logo de Linio -->
{% include '/layouts/header.html' %}

<!-- Título de la página -->
<h1>Crea tu cuenta en Linio Express</h1>

<!-- Mensaje de error -->
{% if error %}
  <h3 style="color:Tomato;">{{error}}</h3>
{% endif %}


<!--Formulario de registro -->

<div class="row">
  <form role="form" id="SignUpForm" method="post" class="col s6">
    <div class="row">
      <!-- Input de primer apellido -->
      <div class="input-field col s6">
        <input id="primer_apellido" type="text" name="primer_apellido" class="validate" required>
        <label for="primer_apellido">Primer Apellido</label>
      </div>
      <!-- Input de segundo apellido -->
      <div class="input-field col s6">
        <input id="segundo_apellido" type="text" name="segundo_apellido" class="validate" required>
        <label for="segundo_apellido">Segundo Apellido</label>
      </div>
    </div>
    <!-- Input de nombre -->
    <div class="row">
      <div class="input-field col s12">
        <input id="primer_nombre" type="text" name="primer_nombre" class="validate" required>
        <label for="primer_nombre">Primer Nombre</label>
      </div>
    </div>
    <!-- Input de edad -->
    <div class="row">
      <div class="input-field col s12">
        <input id="edad" type="number" min="18" max="90" name="edad" class="validate" required>
        <label for="edad">Edad</label>
      </div>
    </div>
    <!-- Input de correo electronico -->
    <div class="row">
      <div class="input-field col s12">
        <input id="correo_electronico" type="email" name="correo_electronico" class="validate" required>
        <label for="correo_electronico">Correo electrónico</label>
      </div>
    </div>
    <!-- Input de Telefono -->
    <div class="row">
      <div class="input-field col s12">
        <input id="telefono" type="tel" name="telefono" class="validate" required>
        <label for="telefono">Teléfono</label>
      </div>
    </div>
    <!-- Input de contraseña -->
    <div class="row">
      <!-- Input de contraseña -->
      <div class="input-field col s12">
        <input id="contrasena" type="password" name="contrasena" class="validate" required>
        <label for="contrasena">Contraseña</label>
      </div>
    </div>
    <!-- Botón para enviar datos del formulario -->
    <button class="btn waves-effect waves-light orange" type="submit">Iniciar Sesión
      <i class="material-icons right">chevron_right</i>
    </button>
  </form>
</div>

<!-- Enlace a Inicio de sesión en caso el usuario ya tenga cuenta -->
<h3>¿Ya tienes una cuenta en Linio?</h3>
<a href="{{ url_for('login') }}">Iniciar sesión</a>

{% endblock %}